<div id="ads" ng-controller="AdListCtrl as adCtrl">
    <section class="ad" ng-repeat="ad in adCtrl.allAds">
        <h2>{{ad.title}}</h2>

        <a href="#/user/ads/edit/#{{ad.id}}" ng-click="adCtrl.editAd(ad.id)" ng-hide="adCtrl.publicAds" style="position:absolute;margin-top:-5px; margin-left: 430px; background: url('images/gear.png'); background-size: cover;height: 25px;display: inline-block;color: transparent;">Edit</a>
        <img ng-src="{{ad.imageDataUrl || 'images/no_image.png'}}" alt="No Image Found" onerror="noImage(this)"/>
        <div class="ad-side-info">
            <span class="propName" ng-show="adCtrl.publicAds">Name:</span> {{ad.ownerName}} <br ng-show="adCtrl.publicAds">
            <span class="propName" ng-show="adCtrl.publicAds">Email:</span> {{ad.ownerEmail}} <br ng-show="adCtrl.publicAds">
            <span class="propName" ng-show="adCtrl.publicAds">Tel.:</span> {{ad.ownerPhone}} <br ng-show="adCtrl.publicAds">
            <span class="propName" ng-show="ad.status">Status:</span> {{ad.status}} <br ng-show="ad.status"/>
            <span> {{ad.text}} </span>
        </div>
    </section>
</div>