<div id="changePasswordView" ng-controller="ChangePasswordCtrl as passwordCtrl">
    <label for="oldPswd">Old password</label>
    <input type="text" id="oldPswd" ng-model="passwordCtrl.oldPassword"/> <br>
    <label for="pswd">New password</label>
    <input type="text" id="pswd" ng-model="passwordCtrl.password"/> <br>
    <label for="pswd2">Repeat password</label>
    <input type="text" id="pswd2" ng-model="passwordCtrl.confirmPassword"/><br>

    <button class="button" ng-click="passwordCtrl.changePassword()">Change</button>
</div>