<div id="left-side-panel">
    <!-- Navigation panel -->
    <div id="navigationView" class="navView">
        <span>Navigation</span>
        <ul>
            <li><a href="#/home">Home</a></li>
        </ul>
    </div>

    <!-- Authorize info panel -->
    <div id="authorizeView" class="navView">
        <span>To publish a new add, please log in or register.</span>
        <ul>
            <li><a href="#/login">Log in</a></li>
            <li><a href="#/register">Register</a></li>
        </ul>
    </div>
</div>