<div id="registerView" ng-controller="RegisterCtrl as regCtrl">
    <label for="registerUsername">Username</label>
    <input type="text" id="registerUsername" ng-model="regCtrl.username"/>
    <label for="registerPassword">Password</label>
    <input type="text" id="registerPassword" ng-model="regCtrl.password"/>
    <label>Confirm password</label>
    <input type="text" ng-model="regCtrl.password2"/>
    <label>Name</label>
    <input type="text" ng-model="regCtrl.fullName"/>
    <label>Email</label>
    <input type="text" ng-model="regCtrl.email"/>

    <label>Phone number</label>
    <input type="text" ng-model="regCtrl.phoneNumber"/>

    <label>Town</label>
    <select ng-controller="CityFilterCtrl as cityFilter" ng-model="regCtrl.town">
        <option ng-repeat="city in cityFilter.towns" value="{{city.id}}" >{{city.name}}</option>
    </select>

    <button class="button" ng-click="regCtrl.register()">Register</button>
</div>