*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

body{
    background: url("./../images/bg.png") repeat;
}

#wrapper{
    width: 960px;
    margin: 20px auto;
    min-height: 600px;
    /*background: white;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px;*/
}

header{
    width: 100%;
    text-align: center;
    height: auto;
    background: white;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px;
    color: #2F8ECE;
}

header > h1{
    font-weight: lighter;
}

header li a{
    color: inherit;
    text-decoration: none;
}

header li:hover{
    color:black;
}

.button{
    border: 1px solid #2F8ECE;
    text-align: center;
    background: white;
    padding: 5px;
}

#wrapper #left-side-panel, #right-side-panel{
    height: 100%;
    display: inline-block;
    float: left;
    width: 230px;
    margin-right: 10px;
}

#wrapper #navigationView, #authorizeView, #mainView, #categoriesView, #townsView{
    background: white;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#wrapper #navigationView > span,  #authorizeView > span, #categoriesView > span, #townsView > span{
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 19px;
    margin-bottom: 10px;
}

#wrapper #navigationView ul, #authorizeView ul, #categoriesView select, #townsView select{
    list-style-type: none;
}

#wrapper #navigationView ul li a, #authorizeView ul li a, #categoriesView select option, #townsView select option{
    text-decoration: none;
    padding: 5px;
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
}

#categoriesView select, #townsView select{
    padding: 5px;
}

#wrapper #navigationView ul li, #authorizeView ul li, #categoriesView select, #townsView select{
    display: block;
    border: 1px solid #2F8ECE;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3px;
}

#wrapper #navigationView ul li:hover,  #authorizeView ul li:hover, #categoriesView ul li:hover, #townsView ul li:hover, .navView .active, .button:hover{
    background: #2F8ECE;
    cursor: pointer;
    color: white;
}

#authorizeView span{
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

#mainView{
    width: 475px;
    float: left;
    margin-right: 10px;
}

.ad{
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    background: white;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px;
}

.ad > h2{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #2F8ECE;
    margin-bottom: 5px;
}

.ad > h2 a{
    color: inherit;
    text-decoration: none;
}

.ad > img{
    margin-top: 10px;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    /*Experiment bellow*/
    position: relative;
    top: 50%;
    transform: translateY(5%);
}

.ad-side-info{
    display: inline-block;
    width: 300px;
    float: right;
    font-size: 14px;
    padding: 5px;
}

.ad .ad-side-info > .propName{
    width: 80px;
    display: inline-block;
}

.ad .ad-side-info span:last-child{
    width: 100%;
    display: block;
    margin-top: 5px;
    background: #f3f3f3;
}

#logInView input, #registerView input, #registerView select{
    border: none;
    border-bottom: 1px solid #2F8ECE;
    outline: none;
    text-align: center;
}

#logInView label, #registerView label{
    color: #646464;
}

#logInView input, #logInView label, #logInView .button, #registerView input, #registerView label, #registerView .button, #registerView select{
    width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 15px;
}

#logInView .button, #registerView .button{
    margin-top: 5px;
}

#editAdView{
    padding: 10px;
}

#editAdView input, #editAdView textarea, #editAdView select{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

#editAdView textarea{
    height: 100px;
}

#editAdView label{
    display: block;
    margin-bottom: 5px;
}





